<a href="https://colab.research.google.com/github/Loxnake/COMP-593/blob/main/WEEK_3_WORKING_WITH_DATABASES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB 3: WORKING WITH DATABASES

## Introduction

During this lab, we will experiment with using a few different libararies and modules to connect to and interact with an SQLite database. After creating and configuring our testing database, we will populate it with Fake data and run some queries to see what kind of information we can retreive. For context, we will be creating RSSN, the "Really Simple Social Network".

## Creating a SQLite Database

We will be utilizing the `sqlite3` library to create our database file, as it offers the convienience of creating our database file automatically in the event that it cannot find an existing file at the path specified.

**Before you run the below code:**
On the left of the notebook, select the file folder icon. Then, after you run the code block, you should be able to observe the creation of the database file. If it doesn't appear, try clicking the "Refresh" button above the list of folders.

In [1]:
import sqlite3

#When we retreive a Connection object, a new database will be created for us if it doesn't already exist. 
myConnection = sqlite3.connect('social_network.db')
print(sqlite3.version)

2.6.0

## Creating a Table

We'll use the below code to create a table called `people` within our database.

In [2]:
import sqlite3

#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Let's define the SQL Query we will use to create our first table:
createPeopleTable = """ CREATE TABLE IF NOT EXISTS people (
                          id integer PRIMARY KEY,
                          name text NOT NULL,
                          email text NOT NULL,
                          address text NOT NULL,
                          city text NOT NULL,
                          province text NOT NULL,
                          country text NOT NULL,
                          phone text,
                          bio text,
                          dob date NOT NULL,
                          heatmap integer,
                          created_at datetime NOT NULL,
                          updated_at datetime NOT NULL,
                          ipv4 text
                        );"""

#Now that we have the string to create our table,
#Cursor objects have an execute() method which will accept an SQL string and perform the operations described.

myCursor.execute(createPeopleTable)

#We can confirm if our table was created successfully by running the following SQL Query
#pragma_table_info is an internal SQLite function that will retun information about a table
myCursor.execute("SELECT group_concat(name, ', ') FROM pragma_table_info('people')")
print(myCursor.fetchone())

#We use to the commit() method on the database Connection object to persist our changes
myConnection.commit()

#It is always a good idea to close a connection when it will no longer be used
myConnection.close()

('id, name, email, address, city, province, country, phone, bio, dob, heatmap, created_at, updated_at, ipv4',)


If you received a tuple containing the names of the columns, awesome! We have successfully created our database table.
```
('id, name, email, address, city, province, country, phone, bio, created_at, updated_at',)
```

Run the below code block to add our first entry.

In [ ]:
import sqlite3
from pprint import pprint #Outputs data in a slightly easier to read format
from datetime import datetime #For generating dates and times

#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#Let's define the SQL Query we will use to create our first entry:
addPersonQuery = """INSERT INTO people (name, 
                      email, 
                      address, 
                      city, 
                      province, 
                      country, 
                      phone, 
                      bio,
                      dob,
                      heatmap,
                      created_at, 
                      updated_at, 
                      ipv4)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

"""
The ?'s are placeholders that we can fill in when we use the execute() method.
This is really handy for code reuse, as we can pass those values are variables in a tuple
Instead of hard coding them into the statement.
"""

myPerson = ("Bob Doe", 
            "bobdoe@anon.null", 
            "123 Fake St.", 
            "Fakesville", 
            "Fakesdom", 
            "Fakopolis", 
            None, 
            None,
            "1990-09-12",
            0,
            datetime.now(), 
            datetime.now(),
            None)

myCursor.execute(addPersonQuery, myPerson)

#We can confirm if our table was created successfully by running the following SQL Query
#pragma_table_info is an internal SQLite function that will retun information about a table
myCursor.execute("SELECT * FROM people")
pprint(myCursor.fetchall())

# If you run this code block a few times, you will see that you only have 1 entry,
# If you uncomment the below lines and run the block a few more times, you will begin to see multiple entries.
myConnection.commit()
myConnection.close()

# Lab Submission

We're going to build our experience with working with Libraries and examining documentation by populating our 'People' table with data provided to us by the `Faker` library. `Faker` is used to generate fake data and is very helpful for the rapid generation of databases for the purposes of testing. Run the two blocks below to install faker and get an idea of what it can do.

In [7]:
!pip install faker

Collecting faker
  Downloading Faker-13.0.0-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.4 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (3.10.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-13.0.0

In [8]:
from faker import Faker

fake = Faker()

for _ in range(10):
  print('{} || {}'.format( fake.name(), fake.job() ) )

James Jones || Arboriculturist
Nicole Lucas || Editorial assistant
Evan Morales || Forensic scientist
Ashley Mitchell || Barista
Michael Miller || Armed forces operational officer
Denise Reid || Publishing rights manager
Tiffany Larsen || Civil engineer, contracting
Susan Webb || Financial trader
Christina Nelson || Management consultant
Allen Nelson || Operational researcher

Very cool! Faker has tons of `providers` that can all be used to populate fake data. The [list of providers](https://faker.readthedocs.io/en/stable/providers.html) in the Faker documentation will help you fill out the columns for our People table.

The goal of this script is to populate the people table with 1000 entries, with the following constraints:

1. The `heatmap` column must contain a random number between `999` and `2500`
2. The `created_at` and `updated_at` columns must use the `datetime` object (see examples above) 
2. Use `Faker` to generate all other fields.

*Hint: Each of the methods contained in the provider can be called directly from the base Faker object, for example, one can call the `file_name()` method from `faker.providers.file` by calling `Faker().file_name()`*

In [13]:
import sqlite3
from faker import Faker
from datetime import datetime #For generating dates and times
#Don't forget to import the module to generate random numbers!

#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#This is the same syntax as the above example:
addPersonQuery = """INSERT INTO people (name, 
                      email, 
                      address, 
                      city, 
                      province, 
                      country, 
                      phone, 
                      bio,
                      dob,
                      heatmap,
                      created_at, 
                      updated_at, 
                      ipv4)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

fake = Faker()



for _ in range(1000):
  myPerson = (fake.name(), 
            fake.email(), 
            fake.street_address(), 
            fake.city(), 
            fake.state(), 
            fake.country(), 
            fake.phone_number(), 
            fake.job(),
            fake.date_of_birth(),
            fake.random_int(min = 999, max = 2500),
            datetime.now(), 
            datetime.now(),
            fake.ipv4())

  myCursor.execute(addPersonQuery, myPerson)
#Ideally, you will want to create a loop that will iterate 1000 times,
#Observe the example in the earlier code block showing the parameter tuple `myPerson`
#You can duplicate that inside your loop and replace those fields with calls to the appropriate faker provider method
#Execute your statement inside the loop,
#But, don't forget to commit and close your connection when you have finished!
myConnection.commit()
myConnection.close()

Finally, the last step,
Using the code block below, combined with what you have learned above, and the Lecture notes,
Craft a SQL Query that will return the `name` of no more than `20` `people` with a `heatmap` greater than `1500`

In [49]:
import sqlite3
from pprint import pprint
#Retreive the Connection object
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

myCursor.execute("SELECT * FROM people")
ending = 0
for i in range(1000):
  current = myCursor.fetchone()
  if current[10] >= 1500: #somhow the index for heatmap is 10 instead of 9 or 8, I think because of the I.D. that the database assigns, but even then I'm pretty sure it could be 9
      pprint (myCursor.fetchone())
      ending = ending + 1
  if ending == 20:
    break

(7,
 'Dalton Gregory',
 'natasha65@example.org',
 '87180 Jared Rapids Suite 767',
 'Port Doris',
 'North Dakota',
 'Vanuatu',
 '354-869-9928x121',
 'Psychiatric nurse',
 '2007-05-16',
 1025,
 '2022-02-17 19:54:14.045737',
 '2022-02-17 19:54:14.045739',
 '207.155.39.38')
(9,
 'Chloe Fry',
 'taylorkelly@example.net',
 '1918 Alexander Forks Suite 068',
 'West Christopher',
 'New Jersey',
 'Uzbekistan',
 '001-331-419-2113x599',
 'Editor, magazine features',
 '1964-08-06',
 1269,
 '2022-02-17 19:54:14.047319',
 '2022-02-17 19:54:14.047320',
 '107.117.26.148')
(13,
 'Deborah Hicks',
 'robertvillegas@example.net',
 '835 Vazquez Trafficway Apt. 681',
 'Port Carolyn',
 'Pennsylvania',
 'Andorra',
 '(677)510-5900',
 'Geophysical data processor',
 '1924-06-22',
 2354,
 '2022-02-17 19:54:14.050595',
 '2022-02-17 19:54:14.050597',
 '190.241.131.0')
(15,
 'John Cooper',
 'bryan08@example.com',
 '750 Mitchell Spurs',
 'Ryanville',
 'Maryland',
 'New Caledonia',
 '+1-137-874-7320x599',
 'Nature conservation officer',
 '1940-01-13',
 1128,
 '2022-02-17 19:54:14.052117',
 '2022-02-17 19:54:14.052119',
 '139.33.38.179')
(18,
 'Michelle Nunez',
 'leah35@example.org',
 '4859 Schroeder Flats Apt. 994',
 'New Josebury',
 'Kentucky',
 'Qatar',
 '(687)650-3707',
 'Archivist',
 '1912-03-08',
 2403,
 '2022-02-17 19:54:14.054432',
 '2022-02-17 19:54:14.054433',
 '85.30.104.167')
(21,
 'Edward Kelley',
 'fordheather@example.com',
 '5103 Payne Terrace',
 'Walshfort',
 'Alaska',
 'Yemen',
 '847-084-3364x9771',
 'Theatre director',
 '1918-07-29',
 1704,
 '2022-02-17 19:54:14.056788',
 '2022-02-17 19:54:14.056790',
 '46.2.111.40')
(23,
 'Jennifer Cross',
 'whitneysmith@example.net',
 '7810 Johnson Summit',
 'East Keith',
 'Oregon',
 'Wallis and Futuna',
 '(604)731-4294',
 'Medical illustrator',
 '1986-01-22',
 2335,
 '2022-02-17 19:54:14.058352',
 '2022-02-17 19:54:14.058354',
 '201.33.222.252')
(25,
 'Anna Swanson',
 'riverajohn@example.com',
 '03916 Reed Ridges',
 'Gregoryville',
 'Alabama',
 'Belarus',
 '371-039-6554',
 'Arboriculturist',
 '2007-12-09',
 2314,
 '2022-02-17 19:54:14.059958',
 '2022-02-17 19:54:14.059960',
 '184.207.183.33')
(27,
 'Brandi Irwin',
 'lfischer@example.com',
 '95123 Jill Estates',
 'Lake Jenniferfort',
 'Arizona',
 'Jamaica',
 '842.561.4954x3297',
 'Teacher, secondary school',
 '1926-01-25',
 1995,
 '2022-02-17 19:54:14.061347',
 '2022-02-17 19:54:14.061348',
 '126.231.15.105')
(31,
 'Christopher Duncan',
 'victoriagilbert@example.org',
 '44890 Bailey Estates',
 'Laurastad',
 'Wisconsin',
 'Poland',
 '+1-443-245-9155',
 'Rural practice surveyor',
 '2020-04-19',
 2241,
 '2022-02-17 19:54:14.064396',
 '2022-02-17 19:54:14.064397',
 '163.55.175.137')
(33,
 'Paul Moody',
 'martha40@example.org',
 '750 Jeffrey Pine',
 'North Russell',
 'Maine',
 'Antarctica (the territory South of 60 deg S)',
 '820-698-6782',
 'Academic librarian',
 '1917-12-02',
 1695,
 '2022-02-17 19:54:14.065784',
 '2022-02-17 19:54:14.065786',
 '42.196.218.131')
(35,
 'Patrick Snyder',
 'rachelstone@example.net',
 '490 Dixon Port',
 'East Jaime',
 'Oregon',
 'Tajikistan',
 '553-473-1445x219',
 'Futures trader',
 '1922-01-04',
 2493,
 '2022-02-17 19:54:14.067363',
 '2022-02-17 19:54:14.067365',
 '154.110.77.57')
(37,
 'Kristina Luna',
 'dana33@example.net',
 '9385 Peter Isle',
 'Russellton',
 'South Dakota',
 'Kazakhstan',
 '519-770-8774',
 'Clinical scientist, histocompatibility and immunogenetics',
 '1917-05-09',
 1474,
 '2022-02-17 19:54:14.068862',
 '2022-02-17 19:54:14.068863',
 '8.143.185.252')
(39,
 'Jason Garcia',
 'grace52@example.com',
 '3754 Bolton Estate',
 'Hernandezfurt',
 'New Hampshire',
 'Bouvet Island (Bouvetoya)',
 '215-887-6889x261',
 'Engineer, broadcasting (operations)',
 '1940-05-23',
 1593,
 '2022-02-17 19:54:14.070334',
 '2022-02-17 19:54:14.070335',
 '84.93.178.241')
(41,
 'Christina Wilkinson',
 'ynguyen@example.org',
 '6042 Eric Turnpike',
 'East Jeffreyborough',
 'New Hampshire',
 'Guatemala',
 '608-032-0240',
 'Chartered public finance accountant',
 '1912-08-11',
 1325,
 '2022-02-17 19:54:14.071777',
 '2022-02-17 19:54:14.071779',
 '174.211.54.97')
(43,
 'Brittney Lawson',
 'uwilson@example.net',
 '2418 Jessica Course',
 'New Anthony',
 'Florida',
 'British Virgin Islands',
 '8811544363',
 'Theatre director',
 '1956-01-18',
 2020,
 '2022-02-17 19:54:14.073548',
 '2022-02-17 19:54:14.073549',
 '49.130.26.52')
(46,
 'Andrea Williams DVM',
 'morgan66@example.com',
 '836 Wall Parkway',
 'Johnsmouth',
 'North Dakota',
 'Niue',
 '772.972.6033x0798',
 'Hospital pharmacist',
 '2020-02-18',
 1443,
 '2022-02-17 19:54:14.075918',
 '2022-02-17 19:54:14.075919',
 '159.47.66.135')
(50,
 'Elizabeth Baker',
 'chorton@example.com',
 '4370 Matthew Plains',
 'South Katherinemouth',
 'Washington',
 'New Zealand',
 '001-090-512-2494',
 'Financial risk analyst',
 '1975-09-03',
 1067,
 '2022-02-17 19:54:14.078838',
 '2022-02-17 19:54:14.078840',
 '91.192.183.127')
(54,
 'Kaitlin Davis',
 'colleen60@example.org',
 '5534 Danielle Passage',
 'West Charles',
 'Indiana',
 'France',
 '585-959-5941x466',
 'Regulatory affairs officer',
 '1945-01-28',
 2407,
 '2022-02-17 19:54:14.081664',
 '2022-02-17 19:54:14.081665',
 '221.213.80.53')
(56,
 'Karen Ramirez',
 'rblack@example.net',
 '2182 Todd Curve Suite 803',
 'North Sharonfurt',
 'Missouri',
 'Zimbabwe',
 '492.473.2138',
 'Programmer, applications',
 '1922-08-26',
 1550,
 '2022-02-17 19:54:14.083214',
 '2022-02-17 19:54:14.083215',
 '28.122.50.191')

Your submission will contain, as usual, a link to your completed colab notebook, but in addition to that, you will download a copy of your social_network.db file and upload it to D2L. To download the file, right click it from the Files menu on the left of the Notebook.